/*BAGGRUND*/

body {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;

    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100%;
    height: 100%;
    position: absolute;

    background-image: url(mellemgundudendetaljer.jpg);
    background-size: 100% 100%;
    z-index: 1;
}

#forgrund {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20vw;

    background-image: url(buske.svg);
    background-size: 100% 100%;
    z-index: 5;
}


#skyer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -18vw;
    width: 100%;

    background-image: url(skyer.svg);
    background-size: 100% 100%;

    animation-name: skyer;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 2;
}

/*
@keyframes skyer {
    /*from {
        transform: translateX(0)scale(0.7)
    }
    to {
        transform: translate(100vw)scale(1)
    }*/

/*0% {
        left: -10px;
    }
    50% {
        left: 50px;
    }
    100% {
        left: 0px;
    }
}*/

#tree {
    width: 50%;
    height: 70%;
    position: absolute;
    top: 2vw;
    left: 45vw;

    background-image: url(tree.svg);
    background-size: 100% 100%;
    z-index: 4;
}

/*FAELLES*/

.walking {
    animation-name: walk;
    animation-duration: 2s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
}

@keyframes walk {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -800% 0;
    }
}

/*HUND*/

#hund_container {
    width: 20vw;
    height: 28.6vw;
    position: absolute;
    z-index: 4;
    /*outline: 2px solid red;*/
}

#hund_sprite {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(spritesheetudenbaggrundsfarve-01.svg);
    background-size: 800% 100%;
}

.position_start_hund {
    top: 20vw;
    left: 0vw;
}


.moving_hund {
    animation-name: moving_hund_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moving_hund_kf {
    0% {
        left: 0vw;
    }
    100% {
        left: 35vw;
    }
}

.position_in_hund {
    left: 35vw;
}

.movingback_hund {
    animation-name: movingback_hund_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    transform: scale(-1, 1);
}

@keyframes movingback_hund_kf {
    0% {
        left: 35vw;
    }
    100% {
        left: 0vw;
    }
}

.position_in_hund_back {
    left: 35vw;
}


.hund_turn {

    animation-name: hund_turn_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hund_turn_kf {

    /* 0% {

        left: 35vw;
    }*/
    100% {
        transform: scale(-1, 1)
    }
}

/*EGERN*/

#egern_container {
    width: 20vw;
    height: 28.6vw;
    position: absolute;
    z-index: 4;
}

#egern_sprite {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(egernspritesheet-01.svg);
    background-size: 800% 100%;
}

.position_start_egern {
    top: 20vw;
    left: 20vw;
}

.moving_egern {
    animation-name: moving_egern_kf;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moving_egern_kf {
    0% {
        left: 20vw;
    }
    100% {
        left: 55vw;
    }
}

.position_in_egern {
    left: 55vw;
}
