body {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;

    position: relative;
}

#baggrund {
    width: 100%;
    height: 100%;

    background-image: url(mellemgundudendetaljer.jpg);
    background-size: 100% 100%;
}

#forgrund {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20vw;

    background-image: url(buske.svg);
    background-size: 100% 100%;
}

#skyer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -18vw;

    background-image: url(skyer.svg);
    background-size: 100% 100%;

    animation-name: skyer;
    animation-duration: 10s;
    animation-iteration-count: 4;
    animation-direction:normal;
}

#træ {
    width: 50%;
    height: 70%;
    position: absolute;
    top: 2vw;
    left: 45vw;

    background-image: url(tr%C3%A6.svg);
    background-size: 100% 100%;
}

#hund {
    position: absolute;
    left: 38vw;
    top: 33vw;

    width: 23vw;
    height: 12.9vw;

    background-image: url(Hund.svg);
    background-size: 100%;

    animation-name: hund;
    animation-duration: 2s;
    animation-iteration-count: 4;

}

#egern {
    position: absolute;
    left: 50vw;
    top: 33vw;

    width: 23vw;
    height: 12.9vw;

    background-image: url(Egern.svg);
    background-size: 100%;

    animation-name: egern;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-direction:normal;

}


@keyframes hund {
    0% {
        left: 0px;
    }
    50% {
        left: 200px;
    }
    100% {
        left: 0px;
    }
}

@keyframes egern {
    0% {
        left: 2px;
    }
    50% {
        left: 270px;
    }
    100% {
        left: 0px;
    }
}

@keyframes skyer {
    0% {
        left: -10px;
    }
    50% {
        left: 200px;
    }
    100% {
        left: 0px;
    }
}

